<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<title>Gestion Lotissement</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
		<link rel="stylesheet" href="login/css/mdb.min.css"/>
		<link rel="stylesheet" href="login/css/style.css"/>
		<style>
			body,
			html {
				margin: 0;
				padding: 0;
				height: 100%;
			}

			.center-container {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: calc(100vh - 40px);
				/* Centrage vertical avec un espace de 20px en haut et en bas */
			}

			.centered-element {
				text-align: center;
				padding: 20px;
				border: 1px solid #ccc;
				border-radius: 5px;
				background-color: #f5f5f5;
			}
		</style>
	</head>

	<body>


		<div class="center-container">
			<div class="centered-element">

				<div class="row">


					<form class="bg-white rounded shadow-5-strong p-5" method="post">
						<div class="row">
							<img src="images/men_bar.png" alt="">
						</div>

						<div class="row mt-2 ">
							<h3>MEN Réinitialisation Mot de passe
							</h3>
						</div>

						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ label }}">
									{{ message }}
								</div>
							{% endfor %}
						{% endfor %}


						<div class="form-outline mb-4">
							<input type="email" id="email" name="email" class="form-control"/>
							<label class="form-label" for="email">Email</label>
						</div>


						<button type="submit" class="  btn btn-primary btn-block">Envoyer</button>

						<div class="d-flex mt-3 justify-content-center">
							<a class="btn btn-outline-primary" href="{{ path('app_login') }}">se connecter</a>


						</div>


					</form>


				</div>
			</div>
		</div>
		<script type="text/javascript" src="login/js/mdb.min.js"></script>
		<!-- Custom scripts -->
		<script type="text/javascript" src="login/js/script.js"></script>
	</body>
</html></body></html>
