<footer class="main-footer">
	<strong>Copyright &copy;
		{{ "now"|date("Y") }}
		<a href="https://mon-portfolio-sand.vercel.app">Mairie Tivaoune</a>.</strong>

	<div class="float-right d-none d-sm-inline-block">
		<b>Version</b>
		1.0
	</div>
</footer>
