{% extends 'admin/include/main.html.twig' %}


{% block title_job %}
<h1 class="card-title"> {{ titre }} </h1>
{% endblock %}

{% block option %}

{% endblock %}

{# {% formulaire de creation d'un livre %}#}
{% block data %}
<div class="logo" style="text-align: center">

    <h1> Bonjour {{ app.user.email }}! </h1>

</div>
{% endblock %}