{% extends 'client/include/main.html.twig' %}


{#{% titre de l'activite %}#}
{% block title_job %}
     <h1 class="card-title"> {{ titre }} </h1>
{% endblock %}

{#        {% operation possible  %}#}
{% block option %}


{% endblock %}

{#        {% les donnees affichees %}#}
{% block data %}

{% endblock %}




